file "${TOP}/db/lakeshore336.db" {
  pattern { Sys , Dev , LNK1 , LNK2 , LNK3 , LNK4 , LNK5 , LNK6 . LNK7 }
  { "XF:23ID2-ES", "{TCtrl:1}",
    "{TCtrl:1-Chan:A}", "{TCtrl:1-Chan:B}",
    "{TCtrl:1-Chan:C}", "{TCtrl:1-Chan:D}",
    "{TCtrl:1-Out:1}", "{TCtrl:1-Out:2}",
    "{TCtrl:1-Out:3}" }
}

file "${TOP}/db/lakeshore336_chan.db" {
  pattern { Sys , Dev , PORT , CHAN , SCAN }
  { "XF:23ID2-ES", "{TCtrl:1-Chan:A}", "LAKE1", "A" , "10 second" }
  { "XF:23ID2-ES", "{TCtrl:1-Chan:B}", "LAKE1", "B" , "10 second" }
  { "XF:23ID2-ES", "{TCtrl:1-Chan:C}", "LAKE1", "C" , "10 second" }
  { "XF:23ID2-ES", "{TCtrl:1-Chan:D}", "LAKE1", "D" , "10 second" }
}

file "${TOP}/db/lakeshore336_loop.db" {
  pattern { Sys , Dev , PORT , CHAN , SCAN }
  { "XF:23ID2-ES", "{TCtrl:1-Out:1}", "LAKE1", "1" , "10 second" }
  { "XF:23ID2-ES", "{TCtrl:1-Out:2}", "LAKE1", "2" , "10 second" }
  { "XF:23ID2-ES", "{TCtrl:1-Out:3}", "LAKE1", "3" , "10 second" }
}
