## Database for Misc tags in CSX ES2 

## Substitutions:
## Sys		-	System
## PLC		-	PLC name
## Dev		-	

# Limit switch status
record(bi, "$(Sys)$(Dev)Pos-Sts")
{
        field(DESC, "$(Dev) Pos")
        field(DTYP, "EtherIP")
	field(SCAN, "I/O Intr")
        field(INP, "@$(PLC) EPICS_Misc_Sts[0] S 1")
        field(ZNAM, "Open")
        field(ONAM, "Closed")
	field(ZSV,  "MINOR")
}

record(bi, "$(Sys)$(Dev)Pos:Opn-Sts")
{
        field(DESC, "$(Dev) Pos")
        field(DTYP, "EtherIP")
        field(SCAN, "I/O Intr")
        field(INP, "@$(PLC) EPICS_Misc_Sts[1] S 1")
        field(ZNAM, "Not Open")
        field(ONAM, "Open")
        field(OSV,  "MINOR")
}

record(bi, "$(Sys)$(Dev)Pos:Cls-Sts")
{
        field(DESC, "$(Dev) Pos")
        field(DTYP, "EtherIP")
        field(SCAN, "I/O Intr")
        field(INP, "@$(PLC) EPICS_Misc_Sts[2] S 1")
        field(ZNAM, "Not Close")
        field(ONAM, "Closed")
        field(ZSV,  "MINOR")
}


